<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ready.swpff">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
        android:name="com.ready.swpff.ACCESS_SKETCHWARE_TOOLS"
        android:description="@string/permission_desc"
        android:icon="@drawable/ic_whatshot_black_24dp"
        android:label="Access Sketchware Tools"
        android:protectionLevel="normal"/>

    <uses-permission android:name="com.ready.swpff.ACCESS_SKETCHWARE_TOOLS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".HeadService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".OreoService"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name=".Extra">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".servicekillers.PixelKiller"
            android:enabled="true"
            android:process=":remote"/>
        <receiver
            android:name=".servicekillers.ProjectInfoKiller"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme_Dark">
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>
    </application>

</manifest>